@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  scroll-behavior: smooth;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.container {
  display: flex;
  gap: 10px;
  /* optional space between */
}

.left {
  flex: 8;
  /* 80% */
  background-color: #f0f0f0;
  padding: 10px;
}

.right {
  flex: 2;
  /* 20% */
  background-color: #d0d0d0;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Firefox and IE */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}